# DATASCI S11 Final Project CBMS Dataset 
### By : Amiel James Bornales, Jonn Ralge Yuvallos

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import folium
%matplotlib inline

doot noot


locs: Indicates brgy within
we need brgy loc

### For faster loading of the dataframe

In [3]:
df_cols = ['mainid', 'hpq_memid', 'memno', 'nucfam', 'reln', 'reln_o', 'sex',
       'birth_date', 'age', 'age_yr', 'birth_reg', 'civstat', 'ethgrp',
       'ethgrp_o', 'ofw', 'mlenresid', 'country_resid', 'country_resid_o',
       'prov_resid_code', 'mun_resid_code', 'brgy_resid_code', 'mun_resid_txt',
       'brgy_resid_txt', 'educind', 'gradel', 'sch_type', 'gradel_calc',
       'ynotsch', 'ynotsch_o', 'educal', 'psced7', 'course_o', 'literind',
       'regvotind', 'voted_last_election', 'jobind', 'entrepind', 'njob',
       'occup', 'psoc4', 'indust', 'psic4', 'jstatus', 'work_ddhrs',
       'work_wkhrs', 'fadd_work_hrs', 'fxtra_wrk', 'workcl', 'fjob',
       'first_fjob', 'jsearch_meth', 'jsearch_meth_o', 'wks_fjob',
       'ynotlookjob', 'ynotlookjob_o', 'lastlookjob', 'joppind', 'wtwind',
       'wagcshm', 'wagkndm', 'sss_ind', 'pregind', 'solo_parent', 'pwd_ind',
       'pwd_type', 'pwd_type_o', 'pwd_id', 'scid_ind', 'mcrimeind',
       'mtheftind', 'mrapeind', 'minjurind', 'mcarnapind', 'mcattrustlind',
       'mocrimind', 'mocrim', 'mtheftloc', 'mrapeloc', 'minjurloc',
       'mcarnaploc', 'mcattrustlloc', 'mocrimloc', 'mnutind', 'mnutind_date']
d_type = ['int64','int64','float64','int64','int64','str','int64','str',
          'float64','int64','int64','int64','str','str','float64','float64',
          'str','float64','str','str','str','str','str','float64',
          'float64','float64','int64','float64','str','float64','str','float64',
          'float64','float64','float64','float64','float64','int64','str','object',
          'str','str','float64','float64','float64','float64','float64','float64',
          'float64','float64','float64','str','float64','float64','str','float64',
          'float64','float64','float64','float64','float64','float64','float64','float64',
          'float64','str','float64','float64','float64','float64','float64','float64',
          'float64','float64','float64','str','float64','float64','float64','float64',
          'float64','float64','float64','str']
dtypes = dict(zip(df_cols, d_type))

In [64]:
df = pd.read_csv('data/hpq_mem.csv', dtype = dtypes)
df.head(5)

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
0,55958,0,1.0,1,1,NaN,1,12/1/1984,27.08282,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55960,2,3.0,1,3,NaN,2,2/12/1996,18.26420,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55960,0,1.0,1,1,NaN,2,8/31/1962,51.71526,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55960,3,4.0,1,3,NaN,2,8/9/1997,16.77481,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55960,1,2.0,1,2,NaN,1,6/15/1964,49.92471,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df.loc[df['mcrimeind'] == 1]

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
155,56806,0,1.000000e+00,1,1,NaN,1,7/18/1991,22.844630,22,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,59170,0,1.000000e+00,1,2,NaN,2,8/28/1978,35.767400,35,...,1.0,Snatching,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
482,68913,0,1.900000e+01,1,1,NaN,1,9/22/1981,32.714580,32,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,70173,1,2.000000e+00,1,3,NaN,2,10/18/1997,16.583160,16,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1766,110289,0,1.000000e+00,1,1,NaN,1,2/26/1972,42.354550,42,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2479,116537,1,2.000000e+00,1,2,NaN,2,6/29/1975,39.033540,39,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4209,129086,0,1.000000e+00,1,1,NaN,2,10/12/1989,24.755650,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4378,129130,0,1.000000e+00,1,1,NaN,2,11/13/1987,26.696780,26,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4666,129552,1,2.000000e+00,1,9,friend,1,6/21/1987,27.082820,27,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6141,136910,0,1.000000e+00,1,1,NaN,2,4/2/1967,47.334700,47,...,1.0,planded,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
6480,137437,0,1.000000e+00,1,1,NaN,1,10/21/1938,75.709790,75,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7401,142565,1,2.000000e+00,1,2,NaN,2,4/1/1979,35.351130,35,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7430,142573,0,1.000000e+00,1,1,NaN,1,12/24/1979,34.620120,34,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8182,145886,0,1.000000e+00,1,1,NaN,1,1/15/1985,29.549620,29,...,1.0,pagnanakaw ng bag,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
9978,155201,0,1.000000e+00,1,1,NaN,2,11/1/1989,24.788500,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11863,176848,0,1.000000e+00,1,1,NaN,1,9/15/1957,56.933610,56,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12074,176923,0,1.000000e+00,1,1,NaN,1,8/7/1972,42.050650,42,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12220,176959,2,3.000000e+00,1,3,NaN,2,1/31/1990,24.544830,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13292,192139,1,2.000000e+00,1,2,NaN,2,2/15/1975,39.540040,39,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13425,192186,3,4.000000e+00,1,3,NaN,2,3/26/1979,35.427790,35,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13719,192856,0,1.000000e+00,1,1,NaN,1,1/16/1972,42.622860,42,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14193,199242,1,2.000000e+00,1,3,NaN,2,4/26/1989,25.352500,25,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14375,203978,2,3.000000e+00,1,7,NaN,2,3/21/2005,9.431896,9,...,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
14981,204917,0,1.000000e+00,1,1,NaN,1,8/31/1980,33.889120,33,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15024,204924,0,1.000000e+00,1,1,NaN,1,9/7/1960,53.891850,53,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15057,204931,0,1.000000e+00,1,1,NaN,2,8/27/1962,51.923340,51,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15099,204942,1,2.000000e+00,1,2,NaN,2,7/27/1982,32.008210,32,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16225,224651,2,3.000000e+00,1,3,NaN,2,3/5/1999,15.507190,15,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16563,224755,1,2.000000e+00,1,2,NaN,2,9/7/1970,44.013690,44,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23403,302998,0,1.000000e+00,1,1,NaN,1,1/25/1985,29.620810,29,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68490,1060626,0,1.000000e+00,1,1,NaN,2,5/8/1977,37.938400,37,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68833,1060806,1,2.000000e+00,1,2,NaN,2,7/28/1977,37.730320,37,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71951,1094561,2,3.000000e+00,1,3,NaN,2,2/20/1998,17.182750,17,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75101,1210239,1,1.420000e+12,1,2,NaN,2,3/27/1981,34.108150,34,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75102,1210239,0,1.420000e+12,1,1,NaN,1,4/17/1989,26.050650,26,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75103,1210239,2,1.420000e+12,1,7,NaN,1,12/12/1961,53.396310,53,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76707,1245207,0,1.000000e+00,1,1,NaN,2,3/16/1992,23.195070,23,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78273,1274411,0,1.000000e+00,1,1,NaN,1,1/5/1989,26.403830,26,...,1.0,snatching,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
79096,1283166,3,6.000000e+00,2,5,NaN,2,5/2/2013,1.579740,1,...,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0,3/15/2014
86985,1394231,0,1.000000e+00,1,1,NaN,1,10/5/1960,54.718690,54,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96118,1554195,2,3.000000e+00,1,3,NaN,2,11/18/1993,21.686520,21,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104163,1766714,0,1.000000e+00,1,1,NaN,1,3/8/1977,38.442160,38,...,2.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108717,1859781,3,4.000000e+00,2,3,NaN,2,4/19/1986,29.297740,29,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108719,1859781,0,1.000000e+00,1,1,NaN,2,1/23/1950,65.533200,65,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117190,2098285,2,3.000000e+00,1,3,NaN,2,1/13/1995,20.802190,20,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133073,2666159,1,2.000000e+00,1,7,NaN,1,6/17/1998,17.700200,17,...,1.0,mitir accident,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
133985,2683131,0,1.000000e+00,1,1,NaN,1,3/18/1983,32.900750,32,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134011,2683137,0,1.000000e+00,1,1,NaN,2,10/25/1981,34.343600,34,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134036,2683144,1,2.000000e+00,1,3,NaN,2,7/26/1996,19.592060,19,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134037,2683144,2,3.000000e+00,1,3,NaN,2,9/16/1997,18.450380,18,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134646,2689998,3,4.000000e+00,1,3,NaN,2,10/21/1991,24.364130,24,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137196,2712575,0,1.000000e+00,1,1,NaN,2,1/16/1966,50.132790,50,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144112,2864519,0,1.000000e+00,1,1,NaN,1,7/25/1983,31.665980,31,...,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
144209,2864543,1,2.000000e+00,1,3,NaN,2,9/9/1986,28.544830,28,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158002,3004816,0,1.000000e+00,1,1,NaN,1,11/2/1989,26.485970,26,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158004,3004818,0,1.000000e+00,1,1,NaN,1,4/20/1970,46.023270,46,...,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
158012,3004821,0,1.000000e+00,1,1,NaN,1,8/8/1971,44.722790,44,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169659,3297008,0,1.000000e+00,1,1,NaN,1,8/23/1962,53.864480,53,...,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
176188,3646039,0,1.000000e+00,1,1,NaN,2,8/22/1977,34.387520,34,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179413,3910989,2,3.000000e+00,1,3,NaN,2,11/18/1993,22.921170,22,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
dftest = df.loc[df['mcrimeind'] == 1]
dftest

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
155,56806,0,1.000000e+00,1,1,NaN,1,7/18/1991,22.844630,22,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,59170,0,1.000000e+00,1,2,NaN,2,8/28/1978,35.767400,35,...,1.0,Snatching,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
482,68913,0,1.900000e+01,1,1,NaN,1,9/22/1981,32.714580,32,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,70173,1,2.000000e+00,1,3,NaN,2,10/18/1997,16.583160,16,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1766,110289,0,1.000000e+00,1,1,NaN,1,2/26/1972,42.354550,42,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2479,116537,1,2.000000e+00,1,2,NaN,2,6/29/1975,39.033540,39,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4209,129086,0,1.000000e+00,1,1,NaN,2,10/12/1989,24.755650,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4378,129130,0,1.000000e+00,1,1,NaN,2,11/13/1987,26.696780,26,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4666,129552,1,2.000000e+00,1,9,friend,1,6/21/1987,27.082820,27,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6141,136910,0,1.000000e+00,1,1,NaN,2,4/2/1967,47.334700,47,...,1.0,planded,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
6480,137437,0,1.000000e+00,1,1,NaN,1,10/21/1938,75.709790,75,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7401,142565,1,2.000000e+00,1,2,NaN,2,4/1/1979,35.351130,35,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7430,142573,0,1.000000e+00,1,1,NaN,1,12/24/1979,34.620120,34,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8182,145886,0,1.000000e+00,1,1,NaN,1,1/15/1985,29.549620,29,...,1.0,pagnanakaw ng bag,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
9978,155201,0,1.000000e+00,1,1,NaN,2,11/1/1989,24.788500,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11863,176848,0,1.000000e+00,1,1,NaN,1,9/15/1957,56.933610,56,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12074,176923,0,1.000000e+00,1,1,NaN,1,8/7/1972,42.050650,42,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12220,176959,2,3.000000e+00,1,3,NaN,2,1/31/1990,24.544830,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13292,192139,1,2.000000e+00,1,2,NaN,2,2/15/1975,39.540040,39,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13425,192186,3,4.000000e+00,1,3,NaN,2,3/26/1979,35.427790,35,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13719,192856,0,1.000000e+00,1,1,NaN,1,1/16/1972,42.622860,42,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14193,199242,1,2.000000e+00,1,3,NaN,2,4/26/1989,25.352500,25,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14375,203978,2,3.000000e+00,1,7,NaN,2,3/21/2005,9.431896,9,...,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
14981,204917,0,1.000000e+00,1,1,NaN,1,8/31/1980,33.889120,33,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15024,204924,0,1.000000e+00,1,1,NaN,1,9/7/1960,53.891850,53,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15057,204931,0,1.000000e+00,1,1,NaN,2,8/27/1962,51.923340,51,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15099,204942,1,2.000000e+00,1,2,NaN,2,7/27/1982,32.008210,32,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16225,224651,2,3.000000e+00,1,3,NaN,2,3/5/1999,15.507190,15,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16563,224755,1,2.000000e+00,1,2,NaN,2,9/7/1970,44.013690,44,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23403,302998,0,1.000000e+00,1,1,NaN,1,1/25/1985,29.620810,29,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68490,1060626,0,1.000000e+00,1,1,NaN,2,5/8/1977,37.938400,37,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68833,1060806,1,2.000000e+00,1,2,NaN,2,7/28/1977,37.730320,37,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71951,1094561,2,3.000000e+00,1,3,NaN,2,2/20/1998,17.182750,17,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75101,1210239,1,1.420000e+12,1,2,NaN,2,3/27/1981,34.108150,34,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75102,1210239,0,1.420000e+12,1,1,NaN,1,4/17/1989,26.050650,26,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75103,1210239,2,1.420000e+12,1,7,NaN,1,12/12/1961,53.396310,53,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76707,1245207,0,1.000000e+00,1,1,NaN,2,3/16/1992,23.195070,23,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78273,1274411,0,1.000000e+00,1,1,NaN,1,1/5/1989,26.403830,26,...,1.0,snatching,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
79096,1283166,3,6.000000e+00,2,5,NaN,2,5/2/2013,1.579740,1,...,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0,3/15/2014
86985,1394231,0,1.000000e+00,1,1,NaN,1,10/5/1960,54.718690,54,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96118,1554195,2,3.000000e+00,1,3,NaN,2,11/18/1993,21.686520,21,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104163,1766714,0,1.000000e+00,1,1,NaN,1,3/8/1977,38.442160,38,...,2.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108717,1859781,3,4.000000e+00,2,3,NaN,2,4/19/1986,29.297740,29,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108719,1859781,0,1.000000e+00,1,1,NaN,2,1/23/1950,65.533200,65,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117190,2098285,2,3.000000e+00,1,3,NaN,2,1/13/1995,20.802190,20,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133073,2666159,1,2.000000e+00,1,7,NaN,1,6/17/1998,17.700200,17,...,1.0,mitir accident,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
133985,2683131,0,1.000000e+00,1,1,NaN,1,3/18/1983,32.900750,32,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134011,2683137,0,1.000000e+00,1,1,NaN,2,10/25/1981,34.343600,34,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134036,2683144,1,2.000000e+00,1,3,NaN,2,7/26/1996,19.592060,19,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134037,2683144,2,3.000000e+00,1,3,NaN,2,9/16/1997,18.450380,18,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134646,2689998,3,4.000000e+00,1,3,NaN,2,10/21/1991,24.364130,24,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137196,2712575,0,1.000000e+00,1,1,NaN,2,1/16/1966,50.132790,50,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144112,2864519,0,1.000000e+00,1,1,NaN,1,7/25/1983,31.665980,31,...,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
144209,2864543,1,2.000000e+00,1,3,NaN,2,9/9/1986,28.544830,28,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158002,3004816,0,1.000000e+00,1,1,NaN,1,11/2/1989,26.485970,26,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158004,3004818,0,1.000000e+00,1,1,NaN,1,4/20/1970,46.023270,46,...,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
158012,3004821,0,1.000000e+00,1,1,NaN,1,8/8/1971,44.722790,44,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169659,3297008,0,1.000000e+00,1,1,NaN,1,8/23/1962,53.864480,53,...,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
176188,3646039,0,1.000000e+00,1,1,NaN,2,8/22/1977,34.387520,34,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179413,3910989,2,3.000000e+00,1,3,NaN,2,11/18/1993,22.921170,22,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
dftest.loc[dftest["brgy_resid_txt"].notnull(), ["brgy_resid_txt"]]

       brgy_resid_txt
4209             paco
9978      Golden city
68080          tengco
68355             168
108717         maipon
108719         maipon

In [110]:
df1 = df[pd.notnull(df["brgy_resid_txt"])]
df1.loc[df1['mcrimeind'] == 1]

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
4209,129086,0,1.0,1,1,NaN,2,10/12/1989,24.75565,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9978,155201,0,1.0,1,1,NaN,2,11/1/1989,24.78850,24,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68080,1057083,0,1.0,1,1,NaN,1,11/7/1987,27.44969,27,...,1.0,nasagi ng truck,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
68355,1057554,0,1.0,1,1,NaN,1,10/18/1968,46.50513,46,...,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
108717,1859781,3,4.0,2,3,NaN,2,4/19/1986,29.29774,29,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108719,1859781,0,1.0,1,1,NaN,2,1/23/1950,65.53320,65,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
dftest.loc[dftest["brgy_resid_code"].notnull(), ["brgy_resid_code"]]

      brgy_resid_code
4378              175
23403             174
27186           Tondo
53383             171

In [89]:
df2 = df[pd.notnull(df["brgy_resid_code"])]
df2.loc[df2['mcrimeind'] == 1]

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
4378,129130,0,1.0,1,1,NaN,2,11/13/1987,26.69678,26,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23403,302998,0,1.0,1,1,NaN,1,1/25/1985,29.62081,29,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27186,377023,0,1.0,1,1,NaN,1,11/30/1993,20.89802,20,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53383,883089,0,1.0,1,1,NaN,1,4/9/1967,47.93703,47,...,1.0,holdup,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN